.image-component {
    text-align: center;
}

.image-component img {
    width: 100%;
}

@media (max-width: 900px) {
    .image-component-extended img {
        width: 100%;
    }
}

@media (min-width: 901px) {
    .image-component-extended img {
        min-height: 500px;
    }
}
