<div id="{{ id }}" class="dashboard-container" ng-style="{ 'width': width }">
    <div
        id="column{{$index+0}}"
        class="column"
        ng-class="{ placeholder : dashboard.isStateSorting }"
        ng-repeat="column in grid"
        ng-style="{ 'max-width': columnsWidth, 'width': columnsWidth, 'height': columnsWidth }">

        <div
            class="component"
            ng-repeat="component in column">

            <display-component
                component="component"
                dashboard="dashboard"></display-component>
        </div>

    </div>
    <div class="clearfix"></div>
</div>
