<div id="{{component.id}}" class="dashboard-component">
    <div
        class="default"
        ng-include="component.states.default.template"
        ng-if="!dashboard.isExtended && !component.displaySettings">
    </div>
    <div class="extended" ng-include="component.states.extended.template" ng-if="component.isExtended"></div>
    <div class="settings" ng-include="component.states.settings.template" ng-if="component.displaySettings && !dashboard.isExtended && !component.isExtended"></div>
</div>
