
.dashboard {
    width: 100%;
    margin: auto;
    position: relative;
    .columns {
        width: 100%;
        display: block;
        clear: both;
    }
}

.column {
    float: left;
}

.dashboard-component {
    margin: 0px 10px;
    box-sizing: border-box;
    transition: transform 0.5s linear;
    overflow: auto;

    .extended {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    .settings {

    }
}

a {
    padding: 0;
    margin: 0;

    img {
        padding: 0;
        margin: 0;
    }
}

@for $i from 1 through 12 {
    .grid-#{$i} {
        width: 100%/$i;
    }
}
